.row.rwBody {
  margin:0 auto;
  width:1280px;
  background-color:#FFF;
}

@media only screen and (max-width: 1280px) {
  .row.rwBody {
    width:100%;
    background-color:#FFF;
  }
}

.btnCollapse {
  width:50%;
  margin-left:25%;
  border-radius:0px 0px 0px 0px;
}

@media only screen and (max-width: 1280px) {
  .btnCollapse {
    width:95%;
    margin-left:2.5%;
    border-radius:0px 0px 0px 0px;
  }
}

.clpContent {
  border:1px solid #CCC;
  width:50%;
  margin-left:25%;
  padding:6px;
  border-radius:0px 0px 0px 0px;
}

@media only screen and (max-width: 1280px) {
  .clpContent {
    border:1px solid #CCC;
    width:95%;
    margin-left:2.5%;
    padding:6px;
    border-radius:0px 0px 0px 0px;
  }

}

.dvHelp {
  width:50%;
  margin-left:25%;
  padding:6px;
  border-radius:0px 0px 0px 0px;
  text-align:center;
}

@media only screen and (max-width: 1280px) {
  .dvHelp {
    width:95%;
    margin-left:2.5%;
    padding:6px;
    border-radius:0px 0px 0px 0px;
    text-align:center;
  }
}

input[type="text"] { 
  border-radius:5px;
  border:1px solid #CCCCCC;
  color:#444444;
  padding:5px;
}

input[type="password"] { 
  border-radius:5px;
  border:1px solid #CCCCCC;
  color:#444444;
  padding:5px;
}

.dvSmallSpacer {
  padding:4px;
}

.dvLargeSpacer {
  padding:12px;
}

.col.clPageContent {
  padding:0px;
  padding-top:13px;
  padding-right:35px;
  padding-bottom:20px;
  padding-left:35px;
}

.bdBody {
  background-image:url("../../assets/img/code-background.png");
  margin:10px;
}

.row.rwBody.rwNav {
  border-radius:5px 5px 0px 0px;
  padding-top:10px;
}

.row.rwBody.rwContent {
  border-radius:0px 0px 5px 5px;
}

.rwForm {
  width:280px;
  margin:0 auto;
}

.colLabel {
  width:20px;
  padding:2px;
  padding-top:8px;
  text-align:right;
}

.colInput {
  width:250px;
  padding:2px;
}

.colButton {
  text-align:center;
  padding:2px;
}

.colError {
  background-color: #D8BCBF;
  color: #333333;
  font-size: 14px;
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  display:none;
}

.colSuccess {
  background-color: #BFD9BB;
  color: #333333;
  font-size: 14px;
  width: 250px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  display:none;
}

.colAlertMobile {
  display:none;
}

@media only screen and (max-width: 1280px) {
  .colAlertMobile {
    background-color: rgba(134, 220, 241, 0.6);
    color: #333333;
    font-size: 14px;
    width: 250px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
    margin:10px;
    display:block;
  }
}